/* footer */
footer{
    bottom: 0;
    width: 100%;
    clear: left;
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    padding-top: .5em;
}

/* nav button */
#tButton{
    border-color: white;
}

/* html and body sizing for footer compared to content */
html, body{
    min-height: 100%;
    clear: both;
}

/* background */
body{
    background: linear-gradient(to bottom right, rgb(7, 2, 78), rgb(3, 206, 233));
}

/* H1 Name */
#fancy{
    font-family: 'Lucida Bright', Geneva, Copperplate;
    color: white;
}

/* fix some spacing at full size */
.row{
    padding-left: 150px;
}

/* sizing of links */
a{
    font-size: 22px;
}