/* footer */
footer{
    bottom: 0%;
    width: 100%;
    clear: left;
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    position: fixed;
    padding-top: .5em;
}

/* nav button */
#tButton{
    border-color: white;
}

/* size of name in header */
#name{
    font-size: 3.5em;
}

.container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed; 
    justify-content: center;
}

/* html and body sizing for footer compared to content */
html, body{
    min-height: 100%;
    clear: both;
}

/* background */
body{
    background: linear-gradient(to bottom right, rgb(7, 2, 78), rgb(1, 174, 255));
}

/* H1 Name */
#fancy{
    font-family: 'Lucida Bright', Geneva, Copperplate;
    color: white;
}

/* fix some spacing at full size */
.row{
    padding-left: 150px;
}

/* sizing of links */
a{
    font-size: 22px;
}