/* footer */
footer{
    bottom: 0%;
    width: 100%;
    clear: left;
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    padding-top: .5em;
}

/* nav background */
#navBG{
    background-image: url(./images/background3.png);
}

/* nav button */
#tButton{
    border-color: white;
}

/* html and body sizing for footer compared to content */
html, body{
    min-height: 100%;
    clear: both;
}

/* background */
body{
    background: lightgray !important;
}

/* H1 Name */
#fancy{
    font-family: 'Lucida Bright', Geneva, Copperplate;
    color: white !important;
    font-size: 40px;
    text-decoration: none;
}

/* sizing of links */
a{
    font-size: 22px;
}

/* styling of h5 */

div > a{
    color: black;
}

div > a:hover{
    color: blue;
}