/* footer */
footer{
    bottom: 0%;
    width: 100%;
    clear: left;
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    padding-top: .5em;
}

/* nav button */
#tButton{
    border-color: white;
}

/* html and body sizing for footer compared to content */
html, body{
    min-height: 100%;
    clear: both;
}

body{
    background: linear-gradient(to bottom right, rgb(7, 2, 78), rgb(3, 206, 233));
}

/* H1 Name */
#fancy{
    font-family: 'Lucida Bright', Geneva, Copperplate;
}

.container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: center;
    justify-content: center;
}

/* sizing of the body */
#size{
    font-size: 75px;
}

/* sizing of links */
a{
    font-size: 40px;
}