/* footer */
footer{
    bottom: 0%;
    width: 100%;
    clear: left;
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    position: fixed;
    padding-top: .5em;
}

/* nav button */
#tButton{
    border-color: white;
}

/* size of name in header */
#name{
    font-size: 3.5em;
}

/* html and body sizing for footer compared to content */
html, body{
    min-height: 100%;
    clear: both;
}

/* image sizing */
img{
    height: 500px;
    width: 500px;
}

/* background */
body{
    background: linear-gradient(to bottom right, rgb(7, 2, 78), rgb(1, 174, 255));
}

/* H1 Name */
#fancy{
    font-family: 'Lucida Bright', Geneva, Copperplate;
    color: white;
}