/* footer */
footer{
    bottom: 0%;
    width: 100%;
    clear: left;
    text-align: center;
    width: 100%;
    font-size: 1.1em;   
    padding-top: .5em;
}

/* nav background */
#navBG{
    background-image: url(./images/background3.png);
}

/* nav button */
#tButton{
    border-color: white;
}

/* html and body sizing for footer compared to content */
html, body{
    min-height: 100%;
    clear: both;
}

/* background */
body{
    background: lightgray !important;
}

/* H1 Name */
#fancy{
    font-family: 'Lucida Bright', Geneva, Copperplate;
    color: white !important;
    font-size: 40px;
    text-decoration: none;
}

/* sizing of links */
a{
    font-size: 22px;
}

/*Formatting solely for the portfolio page*/
#portfolioContainer {
    margin-bottom: 5%;
    box-shadow: 0 0 10px; 
    background-color: rgb(61, 82, 105);
}

.card {
    margin-bottom: 5%;
    box-shadow: 0 0 5px; 
    background-color: rgb(180, 180, 180);
}
.card-img-top {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactContainer{ 
    box-shadow: 0 0 10px;
    background-color: #ffffff;
}